<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JspTrainingTask</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>userController.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/utility/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>userController.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/utility/getAllMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getUserInfo</display-name>
    <servlet-name>getUserInfo</servlet-name>
    <servlet-class>userController.getUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUserInfo</servlet-name>
    <url-pattern>/utility/getUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editUserInfo</display-name>
    <servlet-name>editUserInfo</servlet-name>
    <servlet-class>userController.editUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editUserInfo</servlet-name>
    <url-pattern>/utility/editUserDetail</url-pattern>
  </servlet-mapping>
</web-app>